{% extends 'base.html.twig' %}

{% block title %}Hello ProduitLaitierController!{% endblock %}

{% block body %}


<div class="presentation">
    <h1>Fromage caucasien</h1>
    Notre fromage caucasien est élaboré selon des méthodes traditionnelles venues du Caucase, 
    mais avec un lait 100 % français, issu des prairies d’Alsace. 
    Ce mélange harmonieux
    de savoir-faire ancestral et de la richesse du lait alsacien donne naissance à un fromage unique,
    au goût authentique et inimitable. 
    Laissez-vous séduire par l’alliance subtile des saveurs caucasiennes 
    et de la qualité reconnue des produits français.
</div>

<div class="ajout-fromage">
    <a href="{{ path('add_fromage')}}">Ajoutet produit</a>
    
</div>
{% endblock %}
